<h1>User info</h1>
 <%= image_tag book.user.get_profile_image(100,100) %>
<table class = "user-info">
 <tr>
  <td>name</td><td><%= book.user.name %></td>
 </tr>
 <tr>
  <td>introduction</td><td><%= book.user.introduction %></td>
 </tr>
</table>

<div class = "user-edit">
 <% if book.user == current_user %>
  <%= link_to edit_user_path(book.user_id) do %>
   <i class="fa-solid fa-user-gear"></i>
  <% end %>
 <% end %>
</div>

<h1>New book</h1>
<% if book.user == current_user %>
 <%= form_with model: book do |f| %>
  <p>Title</p>
   <%= f.text_field :title %>
  <p>Opinion</p>
   <%= f.text_area :body %>
 <%= f.submit 'Create Book', class: "btn btn-success" %>
 <% end %>
<% end %>